.modalWishListWrapper {
  background: white;
  border: 1px solid var(--lines-dark);;
  z-index: 1;
}

:global(.vtex-create-wishlist-main) {
  margin-top: .5rem;
  position: absolute;
}

:global(.vtex-create-wishlist-desktop) {
  position: absolute;
  top: 2.8rem;
}

:global(.vtex-create-wishlist-mobile) {
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 13rem;
}