.unitPriceContainer {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
}

.skuNameContainer {}

.descriptionContainer {}

.wishlistProductTexts,
.wishlistProductTexts a {
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}
